.place--container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 30%;
  &:hover {
    background-color: grey;
    cursor: pointer;
  }
}
.place--img {
  display: flex;
  border-radius: 15px;
  flex: 1;
  position: relative;
  img {
    width: 100%;
    max-width: 250px;
    min-width: 120px;
  }
}
.status {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 15px;
  &.done {
    background-color: greenyellow;
  }

  &.going {
    background-color: orange;
  }

  &.wait {
    background-color: rgb(165, 33, 110);
  }
}

.place--information {
  flex: 1;
  padding-left: 1rem;
  h3 {
  }

  p {
  }
}

@media only screen and (max-width: 600px) {
  .place--container {
    width: 80%;
  }
}
