.place--container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 45px -15px;

  &:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
}
.place--img {
  display: flex;
  border-radius: 15px;
  flex: 1;
  position: relative;
  img {
    width: 100%;
    max-width: 250px;
    min-width: 120px;
  }
}
.status {
  font-size: 14px;
  padding: 5px 2rem;
  border-radius: 15px;
  &.done {
    color: white;
    /* ff 3.6+ */
    background: -moz-linear-gradient(
      59deg,
      rgba(163, 255, 0, 1) 0%,
      rgba(0, 212, 106, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(
      59deg,
      rgba(163, 255, 0, 1) 0%,
      rgba(0, 212, 106, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-linear-gradient(
      59deg,
      rgba(163, 255, 0, 1) 0%,
      rgba(0, 212, 106, 1) 100%
    );

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D46A', endColorstr='#A3FF00', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(
      59deg,
      rgba(163, 255, 0, 1) 0%,
      rgba(0, 212, 106, 1) 100%
    );

    /* global 94%+ browsers support */
    background: linear-gradient(
      59deg,
      rgba(163, 255, 0, 1) 0%,
      rgba(0, 212, 106, 1) 100%
    );
  }

  &.going {
    /* ff 3.6+ */
    background: -moz-linear-gradient(
      159deg,
      rgba(255, 223, 164, 1) 0%,
      rgba(240, 155, 0, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(
      159deg,
      rgba(255, 223, 164, 1) 0%,
      rgba(240, 155, 0, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-linear-gradient(
      159deg,
      rgba(255, 223, 164, 1) 0%,
      rgba(240, 155, 0, 1) 100%
    );

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F09B00', endColorstr='#FFDFA4', GradientType=1 );

    /* ie 10+ */
    background: -ms-linear-gradient(
      159deg,
      rgba(255, 223, 164, 1) 0%,
      rgba(240, 155, 0, 1) 100%
    );

    /* global 94%+ browsers support */
    background: linear-gradient(
      159deg,
      rgba(255, 223, 164, 1) 0%,
      rgba(240, 155, 0, 1) 100%
    );
  }

  &.wait {
    color: white;

    /* ff 3.6+ */
    background: -moz-linear-gradient(
      191deg,
      rgba(255, 56, 76, 1) 0%,
      rgba(165, 33, 110, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(
      191deg,
      rgba(255, 56, 76, 1) 0%,
      rgba(165, 33, 110, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-linear-gradient(
      191deg,
      rgba(255, 56, 76, 1) 0%,
      rgba(165, 33, 110, 1) 100%
    );

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A5216E', endColorstr='#FF384C', GradientType=1 );

    /* ie 10+ */
    background: -ms-linear-gradient(
      191deg,
      rgba(255, 56, 76, 1) 0%,
      rgba(165, 33, 110, 1) 100%
    );

    /* global 94%+ browsers support */
    background: linear-gradient(
      191deg,
      rgba(255, 56, 76, 1) 0%,
      rgba(165, 33, 110, 1) 100%
    );
  }
}

.place--information {
  flex: 2;
  padding-left: 1rem;
  h1 {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .place--container {
    width: 80%;
  }
}
