.place--container {
  display: flex;
  justify-content: center;
  width: 100%;
  &:hover {
    background-color: grey;
    cursor: pointer;
  }
}
.place--img {
  flex: 1;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}
.status {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 15px;
  &.done {
    background-color: greenyellow;
  }

  &.going {
    background-color: orange;
  }

  &.wait {
    background-color: rgb(165, 33, 110);
  }
}

.place--information {
  flex: 1;
  padding-left: 1rem;
  h3 {
  }

  p {
  }
}
