* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  width: 100vw;
  min-height: 100vh;

}

.padding-section {
  padding: 1rem 2rem;
}
 
