* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;
@media not all and (hover:hover) {
        height: 100%;
    }
}

.padding-section {
  padding: 1rem 2rem;
}
 
