.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
}

.icon {
  position: relative;
  padding: 1rem;
  margin-right: 2rem;
  cursor: pointer;
  .setting {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    border-radius: 5px;
    background-color: green;
    ul {
      padding: 0.5rem 1rem;
    }
  }
}
