.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemNav {
  display: flex;
  flex-direction: column;
  padding: 0 5px;

  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #176bbe;
  }
}

.itemNav--active {
  color: white;
  background-color: #176bbe;
}
