.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  .item {
    display: flex;
    flex-direction: column;
    padding: 0 5px;

    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 10px;
    }
  }

  .active {
    color: white;
    width: 100%;
    background-color: #1976d2;
    font-size: 10px;

    &:hover {
      width: 100%;
      font-size: 10px;
      background-color: #176bbe;
    }
  }
}
